/* styles.css */
/* universal selector - Applies to whole document */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background: rgb(0, 27, 255);
	background: linear-gradient(90deg, rgba(0, 27, 255, 1) 0%, rgba(9, 43, 150, 1) 30%, rgba(255, 0, 0, 1) 100%);
}


img {
	width: 100%;
	height: auto;
}


/* To center everything in game */
.game {
	height: 100vh;
	max-width: 70%;
	margin: auto;
	border-radius: 10px;
	padding: 1%;
	border: none;
}

/* Title of the game */
.title {
	color: #3c3444;
	color: #ffffff;
	max-width: 100%;
	font-size: 2rem;
	font-weight: bold;
	padding: 1%;
	border-radius: 10px;
	margin-bottom: 25px;
	margin-top: 10px;
	border: none;
}

/* Score Board */
.score {
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	padding: 1%;
	border-radius: 10px;
	margin-bottom: 20px;
	border: none;
}



/* Score */
.p-count,
.c-count {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
	padding: 1%;
	border-radius: 10px;
	border: none;
}


/* displaying three buttons in one line */
.options {
	max-width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
	border-radius: 10px;
	margin-bottom: 20px;
	border: none;
}

/* choice */
.choice {
	max-width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	padding: 1%;
	border-radius: 10px;
	margin-bottom: 20px;
	border: none;
}

/* choice */
.p-choice,
.c-choice {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
	padding: 1%;
	border-radius: 10px;
}


/* Styling on all three buttons */
.rock,
.paper,
.scissors {

	font-weight: 700;
	padding: 0.8rem;
	width: 27%;
	border-radius: 10px;
	background: green;
	border-color: green;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 20px;
}

.rock:hover,
.paper:hover,
.scissors:hover {
	color: #3c3444;
	background: rgb(0, 255, 0);
	border-color: rgb(0, 255, 0);
}

.move {
	max-width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	font-size: 1.5rem;
	font-weight: bold;
	border: none;
}

/* Reload button style */
.reload {
	max-width: 95%;
	margin: auto;
	display: none;
	margin-top: 2rem;
	font-weight: 700;
	border-radius: 10px;
	background: green;
	outline: none;
	border-color: green;
	border: none;
	cursor: pointer;
	padding: 20px;
}

.reload:hover {

	color: #3c3444;
	background: rgb(0, 255, 0);
	border-color: rgb(0, 255, 0);
}

.result {
	background-color: #120b19;
	max-width: 40%;
	margin-top: 20px;
	margin: auto;
	font-size: 1.5rem;
	border-radius: 10px;
	margin-bottom: 20px;
	border: none;
}

/* Responsive Design */
@media screen and (max-width: 612px) {

	.game {
		max-width: 95%;
		margin: auto;
		padding: 1%;
	}

}